---
layout: default
title: 首页
---

{% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
{% endfor %}

<div>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">上一页</a>
    {% endif %}
    
    <span>第 {{ paginator.page }} / {{ paginator.total_pages }} 页</span>
    
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">下一页</a>
    {% endif %}
</div>